/*GALLERY*/

#gallery {
    width: 100%;
    background-image: url("../images/bg-home.jpg");
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 50px;
}
#gallery .container{
    background-color : #fff;
    padding : 50px;
}
#title-gallery {
    margin-bottom: 50px;
    margin-top: 80px;
}

.main {
    background-color: #fff;
}

.picture {
    margin: 15px auto;
}

#lightbox {
    width: 600px;
}

.img-bkg {
    width: 100%;
    vertical-align: top;
    object-fit: cover;
    height: 180px;
}

.img-bkg:hover {
    opacity: 0.5;
    transition: 0.3s ease;
}

figure {
    background-color: #000;
    position: relative;
}

.fa-plus {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 4rem;
    opacity: 0;
}

figure:hover .fa-plus {
    opacity: 1;
    transition: 0.3s ease;
}