/*GALLERY*/
#gallery {
    width: 100%;
    background-image: url("../images/bg-home.jpg");
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 50px;
}
#gallery .container{
    background-color : #fff;
    padding : 50px;
}
#title-gallery {
    margin-bottom: 50px;
    margin-top: 80px;
}

.main {
    background-color: #fff;
}

.picture {
    margin: 15px auto;
}

#lightbox {
    width: 600px;
}

.img-bkg {
    width: 100%;
    vertical-align: top;
    object-fit: cover;
    height: 250px;
}

figure {
    background-color: #000;
    position: relative;
}

figure i:hover img,
figure a:hover img{
    opacity: 0.5;
    transition: 0.3s ease;
}


#gallery .image-wrapper:hover a::after{
    top: 30px;
    right: 30px;
    bottom: 30px;
	left: 30px;
	border: 1px solid #fff;	
	transition : all 0.3s ease;
}

#gallery .image-wrapper a::after{
	position : absolute;
	content : '';
    top: 0px;
    right: 0px;
    bottom: 0px;
	left: 0px;
	transition : all 0.3s ease;
}
