/*HOME*/

header{
    position: relative;
    z-index: 3;
}

main{
    position: relative;
    z-index : 2;
}

#home {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: top;
}

#home header {
    background: transparent;
}

#home h1 {
    font-family: "playfair-bold";
    text-transform: uppercase;
    font-size: 6rem;
    margin-bottom: 25px;
}

#home .subtitle {
    margin-bottom: 50px;
    font-size: 2.4rem;
}

#home main {
    text-align: center;
    max-width: 870px;
    color: #f2e8d5;
    margin: 0 auto;
    height: calc(100% - 80px);
}

.homeimage{
    width : 100vw;
    height : 100vh;
}

.pos{
    position: absolute;
    left : 0px;
    top : 0px;
    z-index : 1;
    width: 100vw;
    height: 100vh;
}