/*STORIES*/
#stories{
    width: 100%;
    background-image: url("../images/bg-home.jpg");
    background-size: cover;
    background-attachment: fixed;
}

#stories .container{
    background-color : #fff;
    padding : 50px;
}

#stories .infos,
#stories .infos a{
    color : #9f9f9f;
}
.actu {
    text-align: center;
}
.actu .text{
    margin-top : 10px;
}
.pics {
    padding-top: 60px;
    max-width: 580px;
    width: 100%;
    height: 380px;
    object-fit: cover;
}

h2.actu-title {
    font-family: "playfair-bold";
    font-size : 1.8rem;
    margin : 15px 0;
    text-transform: uppercase;
}

.actu-title::after {
    display: block;
    margin: 0 auto;
    content: "";
    width: 60px;
    height: 2px;
    margin-top: 5px;
    background-color: #c0a064;
}

.comment {
    text-decoration: underline;
}